// /*==========================================================================
// 	 ADVANTAGES
// 	 ========================================================================== */

.advantages {
	background-color: $color-beige;
	padding: 96px 0;

	@include mq('laptop') {
		padding: 96px 0;
	}
	@include mq('phone') {
		padding: 40px 0;
	}

	i {
		background-color: $color-white;
		border-radius: 50%;
		display: inline-block;
		width: 70px;
		height: 70px;
		color: $color-main;
		@include font-size(48px);
		text-align: center;
		vertical-align: middle;	
		@include mq('laptop') {
			@include font-size(48px);
			width: 70px;
			height: 70px;
			display: inline-block;
		}
		@include mq('tablet') {
			@include font-size(80px);
			width: 110px;
			height: 110px;
		}
		@include mq('phone') {
			@include font-size(60px);
			width: 80px;
			height: 80px;
			display: block;
			margin: 0 auto;
		}
		
	}

	.ion-ios-lightbulb-outline:before,
	.ion-social-buffer-outline:before,
	.ion-ios-copy-outline:before,
	.ion-ios-list-outline:before,
	.ion-ios-information-outline:before,
	.ion-ios-infinite-outline:before,
	.ion-iphone:before,
	.ion-ios-eye-outline:before,
	.ion-ios-people-outline:before {
		color: #232330;
		background: -webkit-linear-gradient(-20deg, #ff5e49 0%, #ff961f 100%);
		background-image: linear-gradient(-20deg, #ff5e49 0%, #ff961f 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding: 10px;
		@include mq('laptop') {
			padding: 10px;
		}
		@include mq('phone') {
			padding: 0;
			padding-bottom: 10px;
		}

	}
}

.advantages-slider {
	padding: 0;
	width: 100%;
	//overflow: hidden;
	display: flex;
	justify-content: space-between;
}


.slick-dots li button:before {	
    //padding: 0;
	border-radius: 50%;
    width: 20px;
    height: 20px;
    background: black;
}

.advantages-slide {
	width: 33%;
	flex-direction: column;
	display: flex !important;
	justify-content: space-between;
	@include mq('desktop') {
		width: 33%;
	}
	@include mq('phone') {
		width: 100%;
	}
}

.advantages-item {
	display: inline-block;
	width: 380px;
	margin-bottom: 31px;
	position: relative;
	&:nth-child(3n) {
		margin-bottom: 0;
	}
	@include mq('desktop') {
		width: 380px;
		text-align: left;
	}

	@include mq('laptop') {
		width: 250px;
		margin-bottom: 31px;
	}
	@include mq('phone') {
		width: 100%;
		text-align: center;
		margin-bottom: 0;
	}
}

.advantages-item__name {
	color: $color-secondary;
	@include font-size(18px);
	font-weight: 700;
	display: inline-block;
	margin-left: 16px;
	vertical-align: middle;
	z-index: 3; 
	@include mq('desktop') {
		display: inline-block;
		margin-left: 16px;
		width: auto;
    }
	@include mq('laptop') {
		@include font-size(18px);
		margin-left: 0;
		width: auto;
    }
	@include mq('phone') {
		display: block;
		@include font-size(20px);
		margin-left: 0;
		width: 100%;
    }
}


// /* end advantages */
