// /*==========================================================================
// 	 FOOTER
// 	 ========================================================================== */
footer {
    background-color: $color-secondary;
    padding: 46px 0 34px 0;

    @include mq('phone') {
        padding: 30px 0;
    }

    @include mq('tablet') {
        padding: 46px 0 34px 0;
    }
}

.logo-wrapper {    
    text-align: center;
}

.footer-logo {
    width: auto;
    margin: 0 auto;
    display: inline-block;
}

.footer-menu {
    list-style: none;
    color: $color-white;
    margin: 34px auto 21px;
    width: 277px;
    padding: 0;
    display: flex;
    justify-content: space-between;

    @include mq('phone') {
        margin: 20px auto;
    }
    
    li {
        display: inline-block;        
        a {
            @include font-size(18px);
            font-weight: 700;
        }
    }
}

.copyright {
    display: inline-block;
    margin: 0;
    margin-top: 5px;

    @include mq('phone') {
        @include font-size(12px); 
        margin-top: 5px;
        width: 100%;
        text-align: center;
    }

    @include mq('tablet') {
        @include font-size(14px); 
        margin-top: 5px;
        width: auto;
        text-align: left;
    }
}

.social-list {
    list-style: none;
    display: inline-block;
    float: right;
    padding: 0;

    @include mq('phone') {
        margin-top: 20px;
        float: none;
        width: 100%;
        text-align: center;
    }

    @include mq('tablet') {
        margin-top: 0;
        float: right;
        width: auto;
    }

    li {
        display: inline-block;
        list-style: none;
        margin-left: 12px;
    }

    .icon {
        @include font-size(24px);  
        text-align: center;
        width: auto;

        &:hover {
            color: $color-main;
            transition: color 0.375s ease-in;
        }
    }
}

// /* end footer */