/* ==========================================================================
   HEADER
   ===========================================================================*/
header {
	display: block;
	width: 100%;
	padding: 25px 0;
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;    
  background-color: transparent;
  transition: 0.375s linear;

  @include mq('phone') {
    padding: 15px 0;
  }

  @include mq('tablet') {
    padding: 25px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.glide {
    position: fixed;
    background-color: $color-secondary;
    opacity: 0.8; 
  }
}

/* logo */
.logo {
	font-weight: 400;
  @include font-size(36px);
	line-height: 1;
	font-family: $font-family-title;
	background: linear-gradient(-20deg, #ff5e49 0%, #ff961f 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  color: #232330;
  &:hover {
    text-shadow: 0px 0px 1px $color-main;
    transition: all .3s linear;
  } 
}

body.menu_open {
  overflow: hidden;
}

/* menu */
.menu {
  display: inline-block;
  vertical-align: top;
  @include mq('phone') {
    position: absolute;
    top: -60px;
    right: 0px;
    opacity: 0;
    float: right; 
    width: 320px;
    padding: 150px 61px;
    text-align: right;
    background-color: $color-secondary;
    transition: 0.3s linear;
    transform: translateX(100%);

    &.menu_open {
      display: block;      
      transition: .375; 
      opacity: 1;
      transition: 0,3s linear;
      transform: translateX(0);
    } 
  } 

  @include mq('tablet') {
    opacity: 1;
    display: inline-block;
    position: static;
    background: transparent;
    float: none;
    width: auto;
    padding: 0;
    vertical-align: top;
    transform: translateX(0);
  }
    

  ul {
    padding: 0;    
  }

  li {
    display: inline-block;
    margin-left: 32px;
    margin-bottom: 5px;  
    
    @include mq('phone') {
      width: 100%;
      text-align: center;
      padding: 25px 0;
      border-bottom: 1px solid #fff;  
      transition: 0.3s linear;  
      margin: 0;
      &:hover {
        border-bottom: 1px solid $color-main; 
        a {
          color: $color-main;               
        } 
      }
    }

    @include mq('tablet') {
      margin-left: 32px;
      width: auto;
      text-align: right;
      padding: 0;
      border: none;
    }

    a { 
      font-weight: 700;
      padding: 0;
      @include font-size(16px);      

      @include mq('phone') {
        margin: 0;
        display: block;
      }

      @include mq('tablet') {
        @include font-size(16px);
        margin-top: 0;
      }
    }

    
  }
}

.btn-menu {
  width: 28px;
  height: 38px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 0;
  z-index: 555;
  cursor: pointer;

  @include mq('phone') {
    display: block;
  }
  @include mq('tablet') {
    display: none;
  }
}  

.icon-burger {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;  
  transition: 0.3s;

  &:before, &:after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 100%;    
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fff;      
    transition: 0.375s;
  }

  &:before {
    top: 8px;       
  }
  &:after {
    top: -8px;  
  }
}

.close-menu  { 
  .icon-burger {
    background: transparent;
    transition: 0.375s;

    &:before, &:after {
      top: 0; 
      width: 100%;
      transition: 0.375s;
      background-color: $color-main;  
    }
    &:after { 
      transform: rotate(45deg);
    }
    &:before {     
      transform: rotate(-45deg);
    }
  }
}


/* end header */
