/*----------------------------------------
	PRODUCTS
----------------------------------------*/
.products {
    padding: 63px 0 65px;
    position: relative;

    @include mq('phone') {
        padding: 30px 0;
    }

    @include mq('desktop') {
        padding: 63px 0 65px;
    }

    .col-3 {
    max-height: 270px;
    }
}

.products__title {
    margin-bottom: 67px;

    @include mq('phone') {
        @include font-size (24px);
        margin-bottom: 30px;
    }

    @include mq('tablet') {
        @include font-size (36px);
    }
}
/* end products */