// /*==========================================================================
// 	 PURCHASE
// 	 ========================================================================== */
.purchase {
    background-color: $color-secondary;  
    padding: 44px 0 63px;  
    color: $color-white;

    @include mq('phone') {
        padding: 30px 0;
    } 

    @include mq('laptop') { 
        padding: 44px 0 63px;
    }
}

.purchase-content {
    overflow: hidden;
}

.purchase__title {
    font-family: "Montserrat";
    color: $color-white;
    text-align: left; 
    @include font-size(36px);
    margin-bottom: 20px;
    line-height: 1;

    @include mq('phone') {
        @include font-size(30px);
        text-align: center;
        margin-top: 0;
    }

    @include mq('tablet') {
        text-align: left;
        margin-bottom: 20px;
    }

    @include mq('laptop') {
        @include font-size(36px);
        margin-top: 30px;
    }
}

.subtitle {  
    @include font-size(18px);  
    margin: 10px 0; 

    @include mq('phone') {
        @include font-size(14px);
        text-align: center;
    } 

    @include mq('tablet') {
        text-align: left;
    }

    @include mq('laptop') {
        @include font-size(18px);
        text-align: left;
    }
}

.purchase-panel {
    margin-top: 39px;    
    text-align: right;

    @include mq('phone') {
        margin-top: 20px;
        text-align: center;
    } 
    @include mq('tablet') {
        margin-top: 11px;
    }
    @include mq('laptop') {
        margin-top: 39px;
    }
}

.purchase__cost {
    margin-left: 12px;
}





// /* end purchase */