// /*==========================================================================
// 	 RECOMMENDATION
// 	 ========================================================================== */

.recommendation {
    padding: 60px 0 64px;

    @include mq('phone') {
        padding: 30px 0;
    }

    @include mq('desktop') {
        padding: 63px 0 65px;
    }
} 

.recommendation__title {
    margin-bottom: 42px;

    @include mq('phone') {
        @include font-size (24px);
        margin-bottom: 30px;    
    }

    @include mq('tablet') {
        @include font-size (36px);
    }
}
// /* end recommendation */