// /*==========================================================================
// 	 REVIEWS
// 	 ========================================================================== */

.reviews {
    background-color: $color-beige;
    padding: 66px 0 68px;

    @include mq('phone') {
        padding: 30px 0;
    }

    @include mq('tablet') {
        padding: 66px 0 68px;
    }
}

.reviews__title {
    margin-bottom: 54px;

    @include mq('phone') {
        margin-bottom: 30px;
        @include font-size(24px);
    }

    @include mq('tablet') {
        margin-bottom: 54px;  
        @include font-size(36px);  
    }
}

.reviews-list, .stars {
    list-style: none;
    padding: 0;
}

.reviews-list {
    margin: 0 auto;
    display: flex;   
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 920px;

    @include mq('phone') {
        width: 100%;
    }

    @include mq('laptop') {
        width: 920px;       
    }
}

.ion-ios-star {
    color: $color-main;
    @include font-size(20px);
    width: auto;
}

.reviews-item-panel {
    padding: 27px 32px;
    background-color: $color-white;
    @include mq('phone') {
        padding: 20px;       
    }

    @include mq('laptop') {
        padding: 27px 32px;       
    }
}

.reviews-item {
    width: 445px;
    margin-bottom: 30px;

    @include mq('phone') {
        width: 100%;
    }

    @include mq('tablet') {
        width: 48%;
    }

    @include mq('laptop') {
        width: 445px;
    }

    h3 {
        display: inline-block;  
        margin-right: 16px;   
        @include font-size(18px);  
        margin: 0; 
        vertical-align: middle;
    }    

    span {
        @include font-size(12px); 
        color: #bdbdc0;
        vertical-align: middle;

        @include mq('phone') {
            display: none;
        }

        @include mq('phone') {
            display: inline;
        }
    }
    
}

.reviews__text {
    border-top: 1px solid $color-beige;
    padding-top: 17px;
    margin: 0;
    line-height: 1.9;
    margin-top: 9px;  
}

.stars {
    display: inline-block;
    vertical-align: middle;
    margin-left: 69px;
    text-align: right; 
    li {        
        display: inline-block;
        
    }

    @include mq('phone') {
        margin-left: 17px;        
    }  
    
    @include mq('tablet') {        
        margin-left: 2px;        
    }

    @include mq('laptop') {        
        margin-left: 69px;        
    }
}



// /* end reviews */