<section>
    <div class="container">
        <h2 class="ui-section-title">1. Colors</h2>
        <ul class="ui-section">
            <li class="ui-color">#ff961f
            </li>
            <li class="ui-color">#232330
            </li>
            <li class="ui-color">#7b7b83
            </li>
            <li class="ui-color">#52575d
            </li>
            <li class="ui-color">#fff
            </li> 
            <li class="ui-color">#e9e9ea
            </li> 
            <li class="ui-color">#000
            </li>        
            <li class="ui-color">#ff0000
            </li>              
        </ul>
    </div>
</section>