<section>
    <div class="container">
        <h2 class="ui-section-title">3. Logo</h2>
        <div class="ui-section">
            <a class="logo" href ="./">DEMO</a>
        </div>
    </div>
</section>
