<section>
    <div class="container">
        <h2 class="ui-section-title">4. Buttons</h2>
        <div class="ui-section">
            <button class="btn btn_secondary">Explore Demos</button>
            <a href="#" class="btn btn_primary">Buy Now - 10$</a>
            <button class="btn btn_primary">Buy Now - 10$</button>
            <button class="btn btn_primary btn-square">Purschase Now</button>
        </div>
    </div>
</section>

