<section>
    <div class="container">
        <h2 class="ui-section-title">5. Form</h2>
        <div class="ui-section">
            <form class="form" method="post" action="./">
                <input class="form__input" type="email" placeholder="Your email address" name="email" required>
                <button class="btn btn_primary" type="submit" name="submit" >Subscribe</button>
            </form>
        </div>
    </div>
</section>
