@import "_functions.scss";
//
//1. FONTS
//

//NEW INCLUDE FONTS FROM MIXIN
@include font-face('Montserrat', '../fonts/montserrat-black', 400, normal, eot woff ttf);
@include font-face('Open Sans', '../fonts/opensans-bold', 700, normal, eot woff ttf);
@include font-face('Open Sans', '../fonts/openSans-regular', 400, normal, eot woff ttf);

$font-family-main: 'Open Sans', Times, "Times New Roman", serif;
$font-family-title: 'Montserrat', sans-serif;

//SIZE
$font-size-main: 14px;
$font-size-title: 48px;
$font-size-h1: $font-size-title;
$font-size-h2: 36px;
$font-size-h3: 16px;

// @include font-size();

//LINE HEIGHT
$line-height-main: 1.4;
$line-height-title: 48px;

//WEIGHT
$font-weight-main: 400;
$font-weight-title: 400;

//
//2. COLORS
//

$color-main: #ff961f; //rgb(61, 110, 136)
$color-secondary: #232330; //rgb(210, 124, 52)
$color-text: #7b7b83;
$color-black: #000; //rgb(0,0,0)
$color-white: #fff; //rgb(255,255,255)
$color-beige: #e9e9ea;
$color-danger: red;

$color-text: $color-text;
$color-title: $color-secondary;
$color-link: $color-white;
$color-link-hover: $color-main;
$background-body: $color-white;

//3. BUTTONS

// default

$button: (
        max-width: 100%,
        min-width: 191px,
  //padding: 0 80px,
        height: 52px,
        line-height: 52px,
        font-family: $font-family-main,
        font-size: 18px,
        font-weight: 700,
        border-width: 0,
        border-color: $color-secondary,
        border-radius: 30px
);

//width: button(width);

//primary - gold
$btn-primary-bg: linear-gradient(-20deg, #ff5e49 0%, #ff961f 100%), linear-gradient(-225deg, #fd6e6a 0%, #ffc600 100%);
$btn-primary-bgHover: linear-gradient(-20deg, #f7381e 0%, #f5870a 100%), linear-gradient(-225deg, #f5554f 0%, #ffce1b 100%);
$btn-primary-bgActive: linear-gradient(-20deg, #ff5e49 0%, #ff961f 100%), linear-gradient(-225deg, #fd6e6a 0%, #ffc600 100%);

$btn-primary-color: $color-white;
$btn-primary-colorHover: $color-text;
$btn-primary-colorActive: $color-main;

//secondary - white
$btn-secondary-bg: linear-gradient(-20deg, #ff5e49 0%, #ff961f 100%);
$btn-secondary-bgHover: linear-gradient(-20deg, #f5554f 0%, #ffce1b 100%);
$btn-secondary-bgActive: linear-gradient(-20deg, #f7381e 0%, #f5870a 100%), linear-gradient(-225deg, #f5554f 0%, #ffce1b 100%);

$btn-secondary-color: $color-secondary;
$btn-secondary-colorHover: $color-white;
$btn-secondary-colorActive: lighten($color-main, 10%);

//$btn-secondary-border: btn(border-width) solid $color-white;
//$btn-secondary-borderHover: btn(border-width) solid $color-white;
//$btn-secondary-borderActive: btn(border-width) solid $color-white;


//
//4.FORMS
//

$form-width: 100%;
$form-bg: #fff;
$group-width: 100%;
$group-margin-bottom: 19px;

//inputs
$input: (
        width: 190px,        
        height: 42px,
        padding: 0 10px 0px 12px,
        font-family: $font-family-main,
        font-size: $font-size-main,
        font-weight: $font-weight-main,
        font-style: regular,
        color: $color-main,
        border: 1px solid $color-main,
        border-radius: 0,
        placeholder: $color-main,
        transition: all .3s,
        background: transparent
);
//width: input(width);

//textarea
$textarea: (
        width: 100%,
        height: 150px,
        padding: 12px,
        font-family: $font-family-main,
        font-size: $font-size-main,
        font-weight: $font-weight-main,
        font-color: $color-main,
        border: 1px solid $color-main,
        border-radius: 0,
        placeholder: $color-main,
        transition: all .3s,
        background: transparent
);

//
// 5. @MEDIA QUERIES
//
$breakpoints: (
        "phone": 320px,
        "tablet": 768px,
        "laptop": 980px,
        "desktop": 1280px,
);
// @include mq('tablet') {}

//
// 6. Z-INDEX ELEMENTS
//

$z-layers: (
        back: -1,
        default: 1,
        button: 3,
        label-error:4,
        overlay: 4000,
        modal: 4001
);

// z-index: z(overlay);