/* ==========================================================================
	 BUTTONS
	 ===========================================================================*/
.btn,
.btn[type="button"] {
  position: relative;
  z-index: z(button);
  display: inline-flex;
  vertical-align: middle;
  min-width: btn(min-width);
  max-width: btn(max-width);
  height: btn(height);
  font-family: btn(font-family);
  @include font-size(btn(font-size));
  line-height: btn(line-height);
  font-weight: btn(font-weight);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid $color-white;
  border-radius: btn(border-radius);
  background: none;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: inherit;
  color: $color-white;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  transition: all .3s;
  &:hover {
    color: $color-white;
    background: $btn-primary-bgHover;
    // color: $color-main;
    // background: $color-white;
  }
  &:focus {
    color: $color-main;
    background: $btn-secondary-bgActive;
    outline: 0;
  }
}

.btn_primary {
  border: none;
  background: $btn-primary-bg;

  &:hover  {     
    color: $color-white;
    background: $btn-primary-bgHover;
    box-shadow: 2px 2px 10px #101015;
  }
  
  &:focus {
    background: $btn-primary-bg;
    border-color: $btn-primary-bgActive;
    color: $color-white;
  }
}

.btn_secondary {
  background: $btn-secondary-bg;
  color: $btn-secondary-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  padding: 0;
  min-width: 0;

  &:hover {
    background: $btn-secondary-bgHover;
    color: $btn-secondary-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    text-shadow: 0px 0px 1px $color-main;
  }
  &:focus {
    background: $btn-secondary-bgActive;
    color: $btn-secondary-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  }

}

.btn-square {
  border-radius: 1px;
}
/* end buttons*/