/*----------------------------------------
	FORM
----------------------------------------*/
form{
	position: relative;
	display: block;
	width: $form-width;
	background: $form-bg;
	text-align: center;
	&.form_horizontal{
		//flexbox
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
.form-group{
	width: $group-width;
	position: relative;
	&:not(:last-child){
		margin-bottom: $group-margin-bottom;
	}
}

/*
STYLE FOR INPUT
*/
.form__input{
	width: input(width);
	height: input(height);
	padding: input(padding);
	font-family: input(font-family);
	@include font-size(input(font-size));
	color: input(color);
	font-weight: input(font-weight);
	font-style: input(font-style);
	background-color: input(background);
	border:input(border);
	border-radius:  input(border-radius);
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-right: 20px;
	@include box-sizing(border-box);
	@include placeholder {
		color: input(placeholder);
		transition: input(transition);
		line-height: 42px;
	}
	&:focus{
		outline: none;
		@include placeholder {
			color: transparent;
			transition: input(transition);
		}
		+ span.error{
			opacity: 0;
		}
	}
	&.error{
		border-color: $color-danger;
		@include placeholder {
			color: transparent;
			transition: input(transition);
		}
		&:focus{
			outline: none;
			+ span.error{
				opacity: 0;
			}
		}
	}
}
/* end forms */