/*----------------------------------------
	PRODUCT
----------------------------------------*/

.product-item {
  margin-bottom: 30px;
  box-sizing: border-box;  
  transition: .3s linear;   
  display: block;

  .product-img {
    position: relative;
    box-shadow: 0 3px 10px 1px #cccccf;
    width: 100%;  
    transition: 0.2s; 
    
    img {
      width: 100%;
      height: auto;
      overflow: hidden;
      display: block;
    }
  }

  .products__title {
    margin-bottom: 0;
  }

  .product-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;     
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: all 0.5s ease;
    
  }
 
  &:hover {
    transform: translateY(-10px);
    cursor: pointer; 

    .product-img {
      box-shadow: 0 3px 7px 3px #cccccf;
    }    

    .product-hover {
      background-color: $color-main;
      opacity: 0.9;
    }
  } 
}

.soon:hover {
  transform: translateY(0);   
} 

.product-hover__preview {
  text-align: center;
  color: $color-white;
  @include font-size(18px);
  font-weight: 700;
}

.ion-close-round {
  display: none;
}

// .product-modal {
//   position: fixed;
//   width: 600px;
//   height: 550px;
//   top: 15%;
//   left: 0;
//   right: 0;
//   z-index: 5555;
//   margin: 0 auto;
//   background: rgba(100%, 59%, 12%, 0.9);
//   display: none;
//   pointer-events: none;

//   &:hover {
//     transform: translateY(0);
//   }

//   .modal-product-img {
//     width: 500px;
//     height: auto;
//     margin: 45px auto 30px;  
//     box-shadow: 0 0 0 0 black;  
//     &:hover {
//       box-shadow: 0 0 0 0 black; 
//     }
//     img {
//       width: 100%;
//     }
//   } 

//   .product__title {
//     @include font-size(28px);
//   }

//   .ion-close-round {
//     display: block;
//     color: #fff;
//     position: absolute;
//     cursor: pointer;    
//     @include font-size(30px);
//     top: 0;
//     right: 0;
//     transition: 0.3s;
//     &:hover {
//       text-shadow: 0 0 1px #fff;
//     }
//   }
// }

// .product-modal:target {
//   display: none;
//   pointer-events: none;

//   @include mq('tablet') {
//     display: block;
//     pointer-events: auto;
//   }

// }



/* end product */
