/* ==========================================================================
   TYPOGRAPHY
   ===========================================================================*/
/* TITLES */
h1,
.h1 {
	font-family: $font-family-title;
	color: $color-title;
	line-height: $line-height-title;
	font-weight: $font-weight-main;
	//margin-top: 0px;
	@include font-size($font-size-h1);
}

h2,
.h2 {
	font-family: $font-family-title;
	@include font-size($font-size-h2);
	color: $color-title;
	line-height: 1;
	font-weight: $font-weight-main;
	text-transform: uppercase;
	text-align: center;
	margin: 30px 0;
}
h3,
.h3 {
	font-family: $font-family-title;
	@include font-size($font-size-h3);
	color: $color-title;
	line-height: $line-height-main;
	font-weight: 700;
	text-align: center;
	margin: 20px 0;

}
h4,
.h4 {
	font-family: $font-family-title;
	@include font-size($font-size-h3);
	color: $color-black;
	line-height: $line-height-title;
	font-weight: $font-weight-main;
}

/* TEXT */
.italic {
	font-style: italic;
}
.text_center {
	text-align: center !important;
}
.text_left {
	text-align: left !important;
}
.text_rigth {
	text-align: right !important;
}
.text_bold {
	font-weight: 700;
}
.text_uppercase {
	text-transform: uppercase;
}
.no-upercouse {
	text-transform: none;
}
/* LINKS */
a {
	font-family: $font-family-main;
	@include font-size($font-size-main);
	color: $color-link;
	line-height: $line-height-main;
	font-weight: $font-weight-main;
	text-decoration: none;
	transition: all .3s linear;
	// text-decoration: underline;	
	&:hover {
		color: $color-main;
		text-decoration: none;
	}
}
a[href^="mailto:"],
a[href^="tel:"] {
	color: $color-white;
	text-decoration: none;
	&:hover {
		color: $color-white;
		text-decoration: none;
	}
}
ul,
ol {
	margin: 0;
	padding-left: 20px;
	li {
		//list-style: none;
	}
}
.title-wrapper {
	max-width: 380px;
	margin: 0 auto;
}
.section__title {
	color: $color-black;
	@include font-size(30px);
	position: relative;
	text-align: center;
	min-height: 50px;
	margin-bottom: 20px;
	&:after {
		content: '';
		position: absolute;
		width: 50px;
		height: 2px;
		display: block;
		margin: 0 auto;
		bottom: 0;
		left: 0;
		right: 0;
		background: $color-secondary;
	}
	span {
		color: $color-secondary;
	}
	&_white {
		color: $color-white;
	}
}
.section__description {
	text-align: center;
	line-height: 1.3;
	&_white {
		color: $color-white;
	}
}
.section__title {
	@media screen and (max-width: 479px) {
		@include font-size(20px);
		min-height: 40px;
	}
}

.text_primary {
	color: $color-main;
}

p {
	line-height: 1.4;	
}
/* end typography */
