<!-- advantages -->
<section class="advantages">
    <div class="container">
        <div class="advantages-slider">
            <div class="advantages-slide">
                <div class="advantages-item">
                    <i class="icon ion-ios-lightbulb-outline"> </i>
                    <p class="advantages-item__name">Creative Pixel Perfect</p>
                </div>
                <div class="advantages-item">
                    <i class="icon ion-social-buffer-outline"> </i>
                    <p class="advantages-item__name">Based on Bootstrap 4</p>
                </div>
                <div class="advantages-item">
                    <i class="icon ion-ios-copy-outline"> </i>
                    <p class="advantages-item__name">Detailed Documentation</p>
                </div>
            </div>
            <div class="advantages-slide">
                <div class="advantages-item">
                    <i class="icon ion-ios-list-outline"> </i>
                    <p class="advantages-item__name">Clean & Professional Codes</p>
                </div>
                <div class="advantages-item">
                    <i class="icon ion-ios-information-outline"> </i>
                    <p class="advantages-item__name">Free Google Fonts & Icons</p>
                </div>
                <div class="advantages-item">
                    <i class="icon ion-ios-infinite-outline"> </i>
                    <p class="advantages-item__name">Unlimited Updates</p>
                </div>
            </div>
            <div class="advantages-slide">
                <div class="advantages-item">
                    <i class="icon ion-iphone"> </i>
                    <p class="advantages-item__name">100% Fully Responsive</p>
                </div>
                <div class="advantages-item">
                    <i class="icon ion-ios-eye-outline"> </i>
                    <p class="advantages-item__name">Retina Ready</p>
                </div>
                <div class="advantages-item">
                    <i class="icon ion-ios-people-outline"> </i>
                    <p class="advantages-item__name">First-Class Support</p>
                </div>
            </div>
        </div>
    </div>
</section>