<!-- products -->
<section class="products">
    <div class="container">
        <h2 class="products__title">Stunning
            <span class="text_primary">Showcase</span> Layouts</h2>
        <div class="row">
            <div class="col col-sm-6 col-md-3">
                <div class="product-item">
                    <div class="product-img">
                        <a class="fancybox" rel="group" href="uploads/product-img-big.jpg"> <img src="uploads/product-img1.jpg"
                                alt="" />
                            <div class="product-hover">
                                <p class="product-hover__preview">Preview</p>
                            </div>
                        </a>
                    </div>
                    <h3 class="product__title">Home Page #1</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="product-item">
                    <div class="product-img">
                        <a class="fancybox" rel="group" href="uploads/product-img-big.jpg"> <img src="uploads/product-img1.jpg"
                                alt="" />
                            <div class="product-hover">
                                <p class="product-hover__preview">Preview</p>
                            </div>
                        </a>
                    </div>
                    <h3 class="product__title">Home Page #2</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="product-item">
                    <div class="product-img">
                            <a class="fancybox" rel="group" href="uploads/product-img-big.jpg"> <img src="uploads/product-img1.jpg"
                                alt="" />
                            <div class="product-hover">
                                <p class="product-hover__preview">Preview</p>
                            </div>
                        </a>
                    </div>
                    <h3 class="product__title">Home Page #3</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="product-item">
                    <div class="product-img">
                        <a class="fancybox" rel="group" href="uploads/product-img-big.jpg"> <img src="uploads/product-img1.jpg"
                                alt="" />
                            <div class="product-hover">
                                <p class="product-hover__preview">Preview</p>
                            </div>
                        </a>
                    </div>
                    <h3 class="product__title">Home Page #4</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="product-item">
                    <div class="product-img">
                        <a class="fancybox" rel="group" href="uploads/product-img-big.jpg"> <img src="uploads/product-img1.jpg"
                                alt="" />
                            <div class="product-hover">
                                <p class="product-hover__preview">Preview</p>
                            </div>
                        </a>
                    </div>
                    <h3 class="product__title">Home Page #5</h3>
                </div>               
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="product-item">
                    <div class="product-img">
                        <a class="fancybox" rel="group" href="uploads/product-img-big.jpg"> <img src="uploads/product-img1.jpg"
                                alt="" />
                            <div class="product-hover">
                                <p class="product-hover__preview">Preview</p>
                            </div>
                        </a>
                    </div>
                    <h3 class="product__title">Home Page #6</h3>
                </div>                
            </div>
            <div class="col-12 col-sm-6 col-md-3">               
                <div class="product-item">
                    <div class="product-img">
                        <a class="fancybox" rel="group" href="uploads/product-img-big.jpg"> <img src="uploads/product-img1.jpg"
                                alt="" />
                            <div class="product-hover">
                                <p class="product-hover__preview">Preview</p>
                            </div>
                        </a>
                    </div>
                    <h3 class="product__title">Home Page #7</h3>
                </div>               
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="product-item soon">
                    <div class="product-img">
                        <img src="uploads/soon-img.jpg" alt="">
                    </div>
                    <h3 class="product__title">More demos are coming soon</h3>
                </div>
            </div>
        </div>
    </div>
</section>