<!-- purchase -->
<section class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="purchase-content">
                    <h3 class="purchase__title">New web experiance</h3>
                    <p class="subtitle">get more than 10+ templates, Support & Constant Updates.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="purchase-panel">
                    <a href="#" class="btn btn_primary btn-square">Purschase Now</a>
                    <span class="purchase__cost">Only 10$</span>
                </div>
            </div>
        </div>
    </div>
</section>