<!-- recommendation -->
<section class="recommendation">
    <div class="container">
        <h2 class="recommendation__title">You may <span class="text_primary">also</span> like</h2>
        <div class="row">
            <div class="col- col-sm-6 col-md-3">
                <a href="#" class="product-item">
                    <div class="product-img">
                        <img src="uploads/recommendation-img1.jpg" alt="" class="recommendation-img">
                        <div class="product-hover">
                            <p class="product-hover__preview">Preview</p>
                        </div>
                    </div>
                    <h3 class="product__title">Carbon - WordPress Portfolio</h3>
                </a>
            </div>
            <div class="col- col-sm-6 col-md-3">
                <a href="#" class="product-item">
                    <div class="product-img">
                        <img src="uploads/recommendation-img2.jpg" alt="" class="recommendation-img">
                        <div class="product-hover">
                            <p class="product-hover__preview">Preview</p>
                        </div>
                    </div>
                    <h3 class="product__title">Wajba - Food HTML Template</h3>
                </a>
            </div>
            <div class="col- col-sm-6 col-md-3">
                <a href="#" class="product-item">
                    <div class="product-img">
                        <img src="uploads/recommendation-img1.jpg" alt="" class="recommendation-img">
                        <div class="product-hover">
                            <p class="product-hover__preview">Preview</p>
                        </div>
                    </div>
                    <h3 class="product__title">Carbon - Portfolio HTML</h3>
                </a>
            </div>
            <div class="col- col-sm-6 col-md-3">
                <a href="#" class="product-item">
                    <div class="product-img">
                        <img src="uploads/recommendation-img2.jpg" alt="" class="recommendation-img">
                        <div class="product-hover">
                            <p class="product-hover__preview">Preview</p>
                        </div>
                    </div>
                    <h3 class="product__title">Wajba - Food WordPress</h3>
                </a>
            </div>            
        </div>
    </div>
</section>