<!-- reviews -->
<section class="reviews">
    <div class="container">
        <h2 class="reviews__title">what our
            <span class="text_primary">customers</span> say</h2>
        <ul class="reviews-list">
            <li class="reviews-item">
                <div class="reviews-item-panel">
                    <h3>John Doe</h3>
                    <span>Themeforest user</span>
                    <ul class="stars">
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                    </ul>
                    <p class="reviews__text">Well structured. Good documentation. Works like charm. I'm more than happy with this template!. I would
                        highly recommend it to anyone, especially for the price.</p>
                </div>
            </li>
            <li class="reviews-item">
                <div class="reviews-item-panel">
                    <h3>John Doe</h3>
                    <span>Themeforest user</span>
                    <ul class="stars">
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                    </ul>
                    <p class="reviews__text">Best theme I've seen on ThemeForest! In brief, fantastic theme with limitless possibilities and great
                        support! Works like charm. I'm more than happy with this theme!</p>
                </div>
            </li>
            <li class="reviews-item">
                <div class="reviews-item-panel">
                    <h3>John Doe</h3>
                    <span>Themeforest user</span>
                    <ul class="stars">
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                    </ul>
                    <p class="reviews__text">This is amazing theme but the speed of the support was measured in minutes :) <br>Demo is the best template
                        that I bought. Design, documentation, code, etc. perfect work.</p>
                </div>
            </li>
            <li class="reviews-item">
                <div class="reviews-item-panel">
                    <h3>John Doe</h3>
                    <span>Themeforest user</span>
                    <ul class="stars">
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                        <li>
                            <i class="icon ion-ios-star"> </i>
                        </li>
                    </ul>
                    <p class="reviews__text">Thanks for all your help on my issues! I am amazed of so quick response and good support - all my issues
                        was solved right away!</p>
                </div>
            </li>
        </ul>
    </div>
</section>