<!-- footer -->
<footer>
    <div class="container">
        <div class="logo-wrapper">
            <a href="./" class="logo footer-logo">Demo</a>
        </div>
        <ul class="footer-menu">
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Support</a>
            </li>
        </ul>
        <p class="copyright">Copyright © 2018
            <a href="#" target="_blank" class="text_primary">@coddice</a>. All Rights Reserved.</p>
        <ul class="social-list">
            <li>
                <a href="https://www.facebook.com/demo" target="_blank">
                    <i class="icon ion-social-facebook-outline"> </i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/demo" target="_blank">
                    <i class="icon ion-social-twitter-outline"> </i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/demo" target="_blank">
                    <i class="icon ion-social-instagram-outline"> </i>
                </a>
            </li>
        </ul>
    </div>
</footer>