<!-- header -->
<header>
    <div class="container">
        <a href="./" class="logo">Demo</a> 
        <nav class="menu clearfix">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Demos</a></li>
            </ul>
        </nav>
        <button class="btn-menu">
            <i class="icon-burger icon-close"></i>
            Open menu
        </button>
    </div>
</header>